@font-face {
  font-family: "Nostra";
  src: url("./fonts/Nostrav.woff2") format("woff2"),
    url("./fonts/Nostrav.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aktiv Grotesk";
  src: url("./fonts/AktivGrotesk-Light.woff2") format("woff2"),
    url("./fonts/AktivGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Regular";
  src: url("./fonts/Suisse.woff2") format("woff2"),
    url("./fonts/Suisse.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Regular";
  src: url("./fonts/Suisse-Light.woff2") format("woff2"),
    url("./fonts/Suisse-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Mono";
  src: url("./fonts/SuisseMono-Regular.woff2") format("woff2"),
    url("./fonts/SuisseMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.card {
  background-color: blue !important;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  color: white;
}

.tags {
  position: absolute;
  top: 5px;
  left: 0;
}
.tags > span {
  display: inline-block;
  padding: 4px;
  margin-left: 3px;
  font-size: 14px;
  background: gray;
  min-width: 40px;
}
